<div class="container-fluid">
    <h2>Lukkede kamper for {{betsFor}}</h2>
</div>


{{#each bets}}
    <div class="container-fluid">

        <h6>{{score}} poeng</h6>
        <h6><a class="nav-link" href="/match/{{this.id}}">Se de andres bets for denne kampen</a></h6>
        <div class="match-container">
            <span> {{this.home_result}} {{this.home_team}}</span> <input disabled
                                                                        type="number"
                                                                        class="resultInput"
                                                                        value="{{this.home_score}}">
        </div>
        <div class="match-container">
            <span> {{this.away_result}} {{this.away_team}}</span> <input disabled
                                                                        type="number"
                                                                        class="resultInput"
                                                                        value="{{this.away_score}}">
        </div>
    </div>

{{/each}}