<form action="/" method="post">

    <div class="container-fluid">
        <h2>Kommende kamper</h2>
        <p>Du kan oppdatere frem til kampstart. Innsendinger etter kampstart blir ikke lagret</p>
        <button type="submit" class="btn btn-outline-primary">Send inn</button>
    </div>


    {{#each upcoming}}
        <div class="container-fluid">

            <h6>{{formatDate this.game_start}} {{this.channel}}</h6>
            <div class="match-container">
                <span>{{this.home_team}} </span> <input name="home-{{match_id}}"
                                                        type="number"
                                                        onclick="handleSelectChange(this)"
                                                        class="resultInput"
                                                        value="{{this.home_score}}">
            </div>
            <div class="match-container">
                <span>{{this.away_team}} </span> <input name="away-{{match_id}}"
                                                        type="number"
                                                        onclick="handleSelectChange(this)"
                                                        class="resultInput"
                                                        value="{{this.away_score}}">
            </div>
        </div>

    {{/each}}
</form>